html, body { 
	font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;
	margin: 1em; 
	}

body, p, table, ul, ol, dl { font-size: 11px; }
td, th { padding: 0.1em 1.5em 0.1em 0.5em; }

tr:hover { border: 1px solid #ffd700 !important;}
td:hover { background-color: #ffd700 !important;}
a:hover { color: #f00; }

a { 
	text-decoration: none;
  font-weight: bold;
  }
 
.standard, .enhanced {
	border-collapse: collapse;
	caption-side: bottom;
	padding: 0;
	}
	
.standard td, .enhanced td {
	border-bottom: 1px dotted #bbb;
	}
	
.standard th, .enhanced th {
	border-bottom: 1px dotted #bbb;
	font-weight: bold;
	text-align: left;
	}
